go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/AdminWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addAdmin" type="tns:addAdmin"/>

<xs:element name="addAdminResponse" type="tns:addAdminResponse"/>

<xs:element name="deleteAdmin" type="tns:deleteAdmin"/>

<xs:element name="deleteAdminResponse" type="tns:deleteAdminResponse"/>

<xs:element name="geteAdmin" type="tns:geteAdmin"/>

<xs:element name="geteAdminResponse" type="tns:geteAdminResponse"/>

<xs:element name="updateAdmin" type="tns:updateAdmin"/>

<xs:element name="updateAdminResponse" type="tns:updateAdminResponse"/>

<xs:complexType name="addAdmin">
<xs:sequence>
<xs:element name="customer" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="admin">
<xs:complexContent>
<xs:extension base="tns:customer">
<xs:sequence>
<xs:element name="designation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdmin">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geteAdmin">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geteAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdmin">
<xs:sequence>
<xs:element name="customer" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>