go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/AdminWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="AdminWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/AdminWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="geteAdmin">
<part name="parameters" element="tns:geteAdmin"/>
</message>
<message name="geteAdminResponse">
<part name="parameters" element="tns:geteAdminResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="updateAdmin">
<part name="parameters" element="tns:updateAdmin"/>
</message>
<message name="updateAdminResponse">
<part name="parameters" element="tns:updateAdminResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="deleteAdminResponse">
<part name="parameters" element="tns:deleteAdminResponse"/>
</message>
<portType name="AdminWebService">
<operation name="geteAdmin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/geteAdminRequest" message="tns:geteAdmin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/geteAdminResponse" message="tns:geteAdminResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/geteAdmin/Fault/ControlerException"/>
</operation>
<operation name="updateAdmin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/updateAdminRequest" message="tns:updateAdmin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/updateAdminResponse" message="tns:updateAdminResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/updateAdmin/Fault/ControlerException"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/addAdminResponse" message="tns:addAdminResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/addAdmin/Fault/ControlerException"/>
</operation>
<operation name="deleteAdmin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/deleteAdminRequest" message="tns:deleteAdmin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/deleteAdminResponse" message="tns:deleteAdminResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/AdminWebService/deleteAdmin/Fault/ControlerException"/>
</operation>
</portType>
<binding name="AdminWebServicePortBinding" type="tns:AdminWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="geteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AdminWebService">
<port name="AdminWebServicePort" binding="tns:AdminWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/AdminWebService"/>
</port>
</service>
</definitions>