go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/BookingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addBooking" type="tns:addBooking"/>

<xs:element name="addBookingResponse" type="tns:addBookingResponse"/>

<xs:element name="updateBooking" type="tns:updateBooking"/>

<xs:element name="updateBookingResponse" type="tns:updateBookingResponse"/>

<xs:complexType name="addBooking">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="customerFeedback" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="distance" type="xs:float"/>
<xs:element name="driverFeedback" type="xs:string" minOccurs="0"/>
<xs:element name="durationMinute" type="xs:int"/>
<xs:element name="fare" type="xs:decimal" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBooking">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>