go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/BookingWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="BookingWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/BookingWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addBooking">
<part name="parameters" element="tns:addBooking"/>
</message>
<message name="addBookingResponse">
<part name="parameters" element="tns:addBookingResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="updateBooking">
<part name="parameters" element="tns:updateBooking"/>
</message>
<message name="updateBookingResponse">
<part name="parameters" element="tns:updateBookingResponse"/>
</message>
<portType name="BookingWebService">
<operation name="addBooking">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/addBookingRequest" message="tns:addBooking"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/addBookingResponse" message="tns:addBookingResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/addBooking/Fault/ControlerException"/>
</operation>
<operation name="updateBooking">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/updateBookingRequest" message="tns:updateBooking"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/updateBookingResponse" message="tns:updateBookingResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BookingWebService/updateBooking/Fault/ControlerException"/>
</operation>
</portType>
<binding name="BookingWebServicePortBinding" type="tns:BookingWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookingWebService">
<port name="BookingWebServicePort" binding="tns:BookingWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/BookingWebService"/>
</port>
</service>
</definitions>