go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/BookingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addBooking" type="tns:addBooking"/>

<xs:element name="addBookingResponse" type="tns:addBookingResponse"/>

<xs:element name="getBooking" type="tns:getBooking"/>

<xs:element name="getBookingResponse" type="tns:getBookingResponse"/>

<xs:element name="getBookings" type="tns:getBookings"/>

<xs:element name="getBookingsByBranchId" type="tns:getBookingsByBranchId"/>

<xs:element name="getBookingsByBranchIdResponse" type="tns:getBookingsByBranchIdResponse"/>

<xs:element name="getBookingsByCustomerId" type="tns:getBookingsByCustomerId"/>

<xs:element name="getBookingsByCustomerIdResponse" type="tns:getBookingsByCustomerIdResponse"/>

<xs:element name="getBookingsByDriverId" type="tns:getBookingsByDriverId"/>

<xs:element name="getBookingsByDriverIdResponse" type="tns:getBookingsByDriverIdResponse"/>

<xs:element name="getBookingsResponse" type="tns:getBookingsResponse"/>

<xs:element name="updateBooking" type="tns:updateBooking"/>

<xs:element name="updateBookingResponse" type="tns:updateBookingResponse"/>

<xs:complexType name="addBooking">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="booktime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="customerFeedback" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="distance" type="xs:float"/>
<xs:element name="driverFeedback" type="xs:string" minOccurs="0"/>
<xs:element name="endtime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fare" type="xs:decimal" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="starttime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBooking">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByCustomerId">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByCustomerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByBranchId">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByBranchIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByDriverId">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsByDriverIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBooking">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>