go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/BranchWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="BranchWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/BranchWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getBranches">
<part name="parameters" element="tns:getBranches"/>
</message>
<message name="getBranchesResponse">
<part name="parameters" element="tns:getBranchesResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="getBranch">
<part name="parameters" element="tns:getBranch"/>
</message>
<message name="getBranchResponse">
<part name="parameters" element="tns:getBranchResponse"/>
</message>
<message name="updateBranch">
<part name="parameters" element="tns:updateBranch"/>
</message>
<message name="updateBranchResponse">
<part name="parameters" element="tns:updateBranchResponse"/>
</message>
<message name="addBranch">
<part name="parameters" element="tns:addBranch"/>
</message>
<message name="addBranchResponse">
<part name="parameters" element="tns:addBranchResponse"/>
</message>
<message name="deleteBranch">
<part name="parameters" element="tns:deleteBranch"/>
</message>
<message name="deleteBranchResponse">
<part name="parameters" element="tns:deleteBranchResponse"/>
</message>
<portType name="BranchWebService">
<operation name="hello">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getBranches">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranchesRequest" message="tns:getBranches"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranchesResponse" message="tns:getBranchesResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranches/Fault/ControlerException"/>
</operation>
<operation name="getBranch">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranchRequest" message="tns:getBranch"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranchResponse" message="tns:getBranchResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/getBranch/Fault/ControlerException"/>
</operation>
<operation name="updateBranch">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/updateBranchRequest" message="tns:updateBranch"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/updateBranchResponse" message="tns:updateBranchResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/updateBranch/Fault/ControlerException"/>
</operation>
<operation name="addBranch">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/addBranchRequest" message="tns:addBranch"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/addBranchResponse" message="tns:addBranchResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/addBranch/Fault/ControlerException"/>
</operation>
<operation name="deleteBranch">
<input wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/deleteBranchRequest" message="tns:deleteBranch"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/deleteBranchResponse" message="tns:deleteBranchResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/BranchWebService/deleteBranch/Fault/ControlerException"/>
</operation>
</portType>
<binding name="BranchWebServicePortBinding" type="tns:BranchWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BranchWebService">
<port name="BranchWebServicePort" binding="tns:BranchWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/BranchWebService"/>
</port>
</service>
</definitions>