go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/BranchWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addBranch" type="tns:addBranch"/>

<xs:element name="addBranchResponse" type="tns:addBranchResponse"/>

<xs:element name="deleteBranch" type="tns:deleteBranch"/>

<xs:element name="deleteBranchResponse" type="tns:deleteBranchResponse"/>

<xs:element name="getBranch" type="tns:getBranch"/>

<xs:element name="getBranchResponse" type="tns:getBranchResponse"/>

<xs:element name="getBranches" type="tns:getBranches"/>

<xs:element name="getBranchesResponse" type="tns:getBranchesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateBranch" type="tns:updateBranch"/>

<xs:element name="updateBranchResponse" type="tns:updateBranchResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranch">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branch">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranch">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranches">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchesResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranch">
<xs:sequence>
<xs:element name="branch" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranch">
<xs:sequence>
<xs:element name="branch" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>