go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="geteCustomer">
<part name="parameters" element="tns:geteCustomer"/>
</message>
<message name="geteCustomerResponse">
<part name="parameters" element="tns:geteCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="addCustomer">
<input wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/addCustomer/Fault/ControlerException"/>
</operation>
<operation name="geteCustomer">
<input wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/geteCustomerRequest" message="tns:geteCustomer"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/geteCustomerResponse" message="tns:geteCustomerResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/geteCustomer/Fault/ControlerException"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/deleteCustomer/Fault/ControlerException"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/CustomerWebService/updateCustomer/Fault/ControlerException"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="geteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/CustomerWebService"/>
</port>
</service>
</definitions>