go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/DistanceWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="getDistance" type="tns:getDistance"/>

<xs:element name="getDistanceResponse" type="tns:getDistanceResponse"/>

<xs:complexType name="getDistance">
<xs:sequence>
<xs:element name="locId1" type="xs:int"/>
<xs:element name="locId2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>