go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/DriverWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="DriverWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/DriverWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteDriver">
<part name="parameters" element="tns:deleteDriver"/>
</message>
<message name="deleteDriverResponse">
<part name="parameters" element="tns:deleteDriverResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="updateDriver">
<part name="parameters" element="tns:updateDriver"/>
</message>
<message name="updateDriverResponse">
<part name="parameters" element="tns:updateDriverResponse"/>
</message>
<message name="addDriver">
<part name="parameters" element="tns:addDriver"/>
</message>
<message name="addDriverResponse">
<part name="parameters" element="tns:addDriverResponse"/>
</message>
<message name="getDriversByBranchId">
<part name="parameters" element="tns:getDriversByBranchId"/>
</message>
<message name="getDriversByBranchIdResponse">
<part name="parameters" element="tns:getDriversByBranchIdResponse"/>
</message>
<message name="getDrivers">
<part name="parameters" element="tns:getDrivers"/>
</message>
<message name="getDriversResponse">
<part name="parameters" element="tns:getDriversResponse"/>
</message>
<message name="getDriver">
<part name="parameters" element="tns:getDriver"/>
</message>
<message name="getDriverResponse">
<part name="parameters" element="tns:getDriverResponse"/>
</message>
<portType name="DriverWebService">
<operation name="deleteDriver">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/deleteDriverRequest" message="tns:deleteDriver"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/deleteDriverResponse" message="tns:deleteDriverResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/deleteDriver/Fault/ControlerException"/>
</operation>
<operation name="updateDriver">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/updateDriverRequest" message="tns:updateDriver"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/updateDriverResponse" message="tns:updateDriverResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/updateDriver/Fault/ControlerException"/>
</operation>
<operation name="addDriver">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/addDriverRequest" message="tns:addDriver"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/addDriverResponse" message="tns:addDriverResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/addDriver/Fault/ControlerException"/>
</operation>
<operation name="getDriversByBranchId">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriversByBranchIdRequest" message="tns:getDriversByBranchId"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriversByBranchIdResponse" message="tns:getDriversByBranchIdResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriversByBranchId/Fault/ControlerException"/>
</operation>
<operation name="getDrivers">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriversRequest" message="tns:getDrivers"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriversResponse" message="tns:getDriversResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDrivers/Fault/ControlerException"/>
</operation>
<operation name="getDriver">
<input wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriverRequest" message="tns:getDriver"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriverResponse" message="tns:getDriverResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/DriverWebService/getDriver/Fault/ControlerException"/>
</operation>
</portType>
<binding name="DriverWebServicePortBinding" type="tns:DriverWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getDriversByBranchId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getDrivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DriverWebService">
<port name="DriverWebServicePort" binding="tns:DriverWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/DriverWebService"/>
</port>
</service>
</definitions>