go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/LocationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="LocationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/LocationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="updateLocation">
<part name="parameters" element="tns:updateLocation"/>
</message>
<message name="updateLocationResponse">
<part name="parameters" element="tns:updateLocationResponse"/>
</message>
<message name="addLocation">
<part name="parameters" element="tns:addLocation"/>
</message>
<message name="addLocationResponse">
<part name="parameters" element="tns:addLocationResponse"/>
</message>
<message name="getLocations">
<part name="parameters" element="tns:getLocations"/>
</message>
<message name="getLocationsResponse">
<part name="parameters" element="tns:getLocationsResponse"/>
</message>
<message name="deleteLocation">
<part name="parameters" element="tns:deleteLocation"/>
</message>
<message name="deleteLocationResponse">
<part name="parameters" element="tns:deleteLocationResponse"/>
</message>
<message name="getLocationsByBranchId">
<part name="parameters" element="tns:getLocationsByBranchId"/>
</message>
<message name="getLocationsByBranchIdResponse">
<part name="parameters" element="tns:getLocationsByBranchIdResponse"/>
</message>
<portType name="LocationWebService">
<operation name="getLocation">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationRequest" message="tns:getLocation"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationResponse" message="tns:getLocationResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocation/Fault/ControlerException"/>
</operation>
<operation name="updateLocation">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/updateLocationRequest" message="tns:updateLocation"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/updateLocationResponse" message="tns:updateLocationResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/updateLocation/Fault/ControlerException"/>
</operation>
<operation name="addLocation">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/addLocationRequest" message="tns:addLocation"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/addLocationResponse" message="tns:addLocationResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/addLocation/Fault/ControlerException"/>
</operation>
<operation name="getLocations">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationsRequest" message="tns:getLocations"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationsResponse" message="tns:getLocationsResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocations/Fault/ControlerException"/>
</operation>
<operation name="deleteLocation">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/deleteLocationRequest" message="tns:deleteLocation"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/deleteLocationResponse" message="tns:deleteLocationResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/deleteLocation/Fault/ControlerException"/>
</operation>
<operation name="getLocationsByBranchId">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationsByBranchIdRequest" message="tns:getLocationsByBranchId"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationsByBranchIdResponse" message="tns:getLocationsByBranchIdResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LocationWebService/getLocationsByBranchId/Fault/ControlerException"/>
</operation>
</portType>
<binding name="LocationWebServicePortBinding" type="tns:LocationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getLocations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getLocationsByBranchId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LocationWebService">
<port name="LocationWebServicePort" binding="tns:LocationWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/LocationWebService"/>
</port>
</service>
</definitions>