go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/LocationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addLocation" type="tns:addLocation"/>

<xs:element name="addLocationResponse" type="tns:addLocationResponse"/>

<xs:element name="deleteLocation" type="tns:deleteLocation"/>

<xs:element name="deleteLocationResponse" type="tns:deleteLocationResponse"/>

<xs:element name="getLocation" type="tns:getLocation"/>

<xs:element name="getLocationResponse" type="tns:getLocationResponse"/>

<xs:element name="getLocations" type="tns:getLocations"/>

<xs:element name="getLocationsByBranchId" type="tns:getLocationsByBranchId"/>

<xs:element name="getLocationsByBranchIdResponse" type="tns:getLocationsByBranchIdResponse"/>

<xs:element name="getLocationsResponse" type="tns:getLocationsResponse"/>

<xs:element name="updateLocation" type="tns:updateLocation"/>

<xs:element name="updateLocationResponse" type="tns:updateLocationResponse"/>

<xs:complexType name="getLocationsByBranchId">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationsByBranchIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocation">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLocation">
<xs:sequence>
<xs:element name="location" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocation">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLocationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLocation">
<xs:sequence>
<xs:element name="branch" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>