go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/LoginWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addLogin" type="tns:addLogin"/>

<xs:element name="addLoginResponse" type="tns:addLoginResponse"/>

<xs:element name="authenticate" type="tns:authenticate"/>

<xs:element name="authenticateResponse" type="tns:authenticateResponse"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

<xs:element name="deleteLogin" type="tns:deleteLogin"/>

<xs:element name="deleteLoginResponse" type="tns:deleteLoginResponse"/>

<xs:element name="getLogins" type="tns:getLogins"/>

<xs:element name="getLoginsResponse" type="tns:getLoginsResponse"/>

<xs:element name="updateLogin" type="tns:updateLogin"/>

<xs:element name="updateLoginResponse" type="tns:updateLoginResponse"/>

<xs:complexType name="authenticate">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authenticateResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="referenceId" type="xs:int"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLogin">
<xs:sequence>
<xs:element name="login" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLogin">
<xs:sequence>
<xs:element name="login" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLogin">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLogins">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLoginsResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>