go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/LoginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="LoginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/LoginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="deleteLogin">
<part name="parameters" element="tns:deleteLogin"/>
</message>
<message name="deleteLoginResponse">
<part name="parameters" element="tns:deleteLoginResponse"/>
</message>
<message name="getLogins">
<part name="parameters" element="tns:getLogins"/>
</message>
<message name="getLoginsResponse">
<part name="parameters" element="tns:getLoginsResponse"/>
</message>
<message name="updateLogin">
<part name="parameters" element="tns:updateLogin"/>
</message>
<message name="updateLoginResponse">
<part name="parameters" element="tns:updateLoginResponse"/>
</message>
<message name="addLogin">
<part name="parameters" element="tns:addLogin"/>
</message>
<message name="addLoginResponse">
<part name="parameters" element="tns:addLoginResponse"/>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"/>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"/>
</message>
<portType name="LoginWebService">
<operation name="changePassword">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/changePasswordResponse" message="tns:changePasswordResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/changePassword/Fault/ControlerException"/>
</operation>
<operation name="deleteLogin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/deleteLoginRequest" message="tns:deleteLogin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/deleteLoginResponse" message="tns:deleteLoginResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/deleteLogin/Fault/ControlerException"/>
</operation>
<operation name="getLogins">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/getLoginsRequest" message="tns:getLogins"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/getLoginsResponse" message="tns:getLoginsResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/getLogins/Fault/ControlerException"/>
</operation>
<operation name="updateLogin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/updateLoginRequest" message="tns:updateLogin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/updateLoginResponse" message="tns:updateLoginResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/updateLogin/Fault/ControlerException"/>
</operation>
<operation name="addLogin">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/addLoginRequest" message="tns:addLogin"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/addLoginResponse" message="tns:addLoginResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/addLogin/Fault/ControlerException"/>
</operation>
<operation name="authenticate">
<input wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/authenticateRequest" message="tns:authenticate"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/authenticateResponse" message="tns:authenticateResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/LoginWebService/authenticate/Fault/ControlerException"/>
</operation>
</portType>
<binding name="LoginWebServicePortBinding" type="tns:LoginWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getLogins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LoginWebService">
<port name="LoginWebServicePort" binding="tns:LoginWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/LoginWebService"/>
</port>
</service>
</definitions>