go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/VehicleTypeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.service.web.gocheeta.lk/">

<xs:element name="ControlerException" type="tns:ControlerException"/>

<xs:element name="addVehicleType" type="tns:addVehicleType"/>

<xs:element name="addVehicleTypeResponse" type="tns:addVehicleTypeResponse"/>

<xs:element name="deleteVehicleType" type="tns:deleteVehicleType"/>

<xs:element name="deleteVehicleTypeResponse" type="tns:deleteVehicleTypeResponse"/>

<xs:element name="getVehicleType" type="tns:getVehicleType"/>

<xs:element name="getVehicleTypeResponse" type="tns:getVehicleTypeResponse"/>

<xs:element name="getVehicleTypes" type="tns:getVehicleTypes"/>

<xs:element name="getVehicleTypesResponse" type="tns:getVehicleTypesResponse"/>

<xs:element name="updateVehicleType" type="tns:updateVehicleType"/>

<xs:element name="updateVehicleTypeResponse" type="tns:updateVehicleTypeResponse"/>

<xs:complexType name="addVehicleType">
<xs:sequence>
<xs:element name="vehicleType" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rate" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ControlerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVehicleTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleType">
<xs:sequence>
<xs:element name="vehicleType" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>