go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/VehicleTypeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="VehicleTypeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/VehicleTypeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateVehicleType">
<part name="parameters" element="tns:updateVehicleType"/>
</message>
<message name="updateVehicleTypeResponse">
<part name="parameters" element="tns:updateVehicleTypeResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="deleteVehicleType">
<part name="parameters" element="tns:deleteVehicleType"/>
</message>
<message name="deleteVehicleTypeResponse">
<part name="parameters" element="tns:deleteVehicleTypeResponse"/>
</message>
<message name="getVehicleTypes">
<part name="parameters" element="tns:getVehicleTypes"/>
</message>
<message name="getVehicleTypesResponse">
<part name="parameters" element="tns:getVehicleTypesResponse"/>
</message>
<message name="addVehicleType">
<part name="parameters" element="tns:addVehicleType"/>
</message>
<message name="addVehicleTypeResponse">
<part name="parameters" element="tns:addVehicleTypeResponse"/>
</message>
<message name="getVehicleType">
<part name="parameters" element="tns:getVehicleType"/>
</message>
<message name="getVehicleTypeResponse">
<part name="parameters" element="tns:getVehicleTypeResponse"/>
</message>
<portType name="VehicleTypeWebService">
<operation name="updateVehicleType">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/updateVehicleTypeRequest" message="tns:updateVehicleType"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/updateVehicleTypeResponse" message="tns:updateVehicleTypeResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/updateVehicleType/Fault/ControlerException"/>
</operation>
<operation name="deleteVehicleType">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/deleteVehicleTypeRequest" message="tns:deleteVehicleType"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/deleteVehicleTypeResponse" message="tns:deleteVehicleTypeResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/deleteVehicleType/Fault/ControlerException"/>
</operation>
<operation name="getVehicleTypes">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleTypesRequest" message="tns:getVehicleTypes"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleTypesResponse" message="tns:getVehicleTypesResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleTypes/Fault/ControlerException"/>
</operation>
<operation name="addVehicleType">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/addVehicleTypeRequest" message="tns:addVehicleType"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/addVehicleTypeResponse" message="tns:addVehicleTypeResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/addVehicleType/Fault/ControlerException"/>
</operation>
<operation name="getVehicleType">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleTypeRequest" message="tns:getVehicleType"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleTypeResponse" message="tns:getVehicleTypeResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleTypeWebService/getVehicleType/Fault/ControlerException"/>
</operation>
</portType>
<binding name="VehicleTypeWebServicePortBinding" type="tns:VehicleTypeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getVehicleTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="getVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="VehicleTypeWebService">
<port name="VehicleTypeWebServicePort" binding="tns:VehicleTypeWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/VehicleTypeWebService"/>
</port>
</service>
</definitions>