go-cheeta-web-client/src/wsdl/localhost_8080/go-cheeta-web-service/VehicleWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.service.web.gocheeta.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.service.web.gocheeta.lk/" name="VehicleWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.service.web.gocheeta.lk/" schemaLocation="http://localhost:8080/go-cheeta-web-service/VehicleWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getVehicleByBranchIdAndVehicleTypeId">
<part name="parameters" element="tns:getVehicleByBranchIdAndVehicleTypeId"/>
</message>
<message name="getVehicleByBranchIdAndVehicleTypeIdResponse">
<part name="parameters" element="tns:getVehicleByBranchIdAndVehicleTypeIdResponse"/>
</message>
<message name="ControlerException">
<part name="fault" element="tns:ControlerException"/>
</message>
<message name="updateVehicle">
<part name="parameters" element="tns:updateVehicle"/>
</message>
<message name="updateVehicleResponse">
<part name="parameters" element="tns:updateVehicleResponse"/>
</message>
<message name="addVehicle">
<part name="parameters" element="tns:addVehicle"/>
</message>
<message name="addVehicleResponse">
<part name="parameters" element="tns:addVehicleResponse"/>
</message>
<message name="deleteVehicle">
<part name="parameters" element="tns:deleteVehicle"/>
</message>
<message name="deleteVehicleResponse">
<part name="parameters" element="tns:deleteVehicleResponse"/>
</message>
<portType name="VehicleWebService">
<operation name="getVehicleByBranchIdAndVehicleTypeId">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/getVehicleByBranchIdAndVehicleTypeIdRequest" message="tns:getVehicleByBranchIdAndVehicleTypeId"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/getVehicleByBranchIdAndVehicleTypeIdResponse" message="tns:getVehicleByBranchIdAndVehicleTypeIdResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/getVehicleByBranchIdAndVehicleTypeId/Fault/ControlerException"/>
</operation>
<operation name="updateVehicle">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/updateVehicleRequest" message="tns:updateVehicle"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/updateVehicleResponse" message="tns:updateVehicleResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/updateVehicle/Fault/ControlerException"/>
</operation>
<operation name="addVehicle">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/addVehicleRequest" message="tns:addVehicle"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/addVehicleResponse" message="tns:addVehicleResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/addVehicle/Fault/ControlerException"/>
</operation>
<operation name="deleteVehicle">
<input wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/deleteVehicleRequest" message="tns:deleteVehicle"/>
<output wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/deleteVehicleResponse" message="tns:deleteVehicleResponse"/>
<fault message="tns:ControlerException" name="ControlerException" wsam:Action="http://controller.service.web.gocheeta.lk/VehicleWebService/deleteVehicle/Fault/ControlerException"/>
</operation>
</portType>
<binding name="VehicleWebServicePortBinding" type="tns:VehicleWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVehicleByBranchIdAndVehicleTypeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="updateVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="addVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
<operation name="deleteVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ControlerException">
<soap:fault name="ControlerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="VehicleWebService">
<port name="VehicleWebServicePort" binding="tns:VehicleWebServicePortBinding">
<soap:address location="http://localhost:8080/go-cheeta-web-service/VehicleWebService"/>
</port>
</service>
</definitions>